* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}
h1,
h2,
h3 {
  font-family: "Arima Madurai", sans-serif;
}

a:hover {
  text-decoration: none;
}
.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header .header-left .logo-img {
  width: 60px;
  height: 60px;
  border: 1px solid grey;
  border-radius: 50%;
}

.header .header-right {
  text-align: right;
}

.header-right a {
  color: black;
}

.header-right .address a:not(:last-child) {
  margin-right: 24px;
}

.product-intro {
  background-color: #f7f7f7;
}

.product-intro .product-intro-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
}

.product-intro .product-intro-content .intro-title {
  text-transform: uppercase;
  text-align: center;
  font-family: "Arima Madurai", sans-serif;
}

.product-intro .product-intro-content .intro-border {
  width: 300px;
  height: 2px;
  background-color: rgb(0, 238, 255);
  margin: 0 auto;
}
.product-intro .product-intro-content .intro-detail {
  padding: 16px;
  text-align: center;
}
@media (max-width: 768px) {
  .intro-img {
    display: none;
  }
}

/*TIN TUC*/
.news .news-img {
  width: 100%;
  height: auto;
}

.main-nav li a {
  color: white;
}

.nav li a:hover {
  color: blue;
}

.nav-tabs {
  border: unset;
}

.nav-tabs .nav-item:not(:last-child) {
  border-right: 1px solid #dee2e6;
}

.nav-tabs .nav-link:hover {
  border-color: #fff;
}

.submenu {
  display: none;
  position: absolute;
  left: 0;
  background: aquamarine;
  box-shadow: 1px 1px 5px gainsboro;
  z-index: 1;
}

.submenu > li {
  list-style: none;
  width: 150px;
}
.submenu > li:hover {
  background-color: #f7f7f7;
}

.nav > li:hover .submenu {
  display: block;
}

.nav > li {
  position: relative;
  cursor: pointer;
}

/* Menu Hamburger */
.menu-mobile .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background: black;
  z-index: 10;
  transition: 0.3s ease-in;
  transform: translateX(-100%);
}

.menu-mobile .menu a {
  color: white;
}

.menu-mobile .menu.active {
  transform: translateX(0);
  transition: 0.3s ease-out;
}

.main-menu li.active {
  color: red;
}

/*Footer*/
.icon-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #a8a6a6;
  margin-right: 16px;
}

@media (max-width: 768px) {
  .icon-container {
    display: none;
  }
}

/*Thumb image*/
.thumb-img-container .image-box {
  width: 348px;
  height: 328px;
  border: 2px solid rgb(0, 255, 242);
  border-radius: 15px;
}

/*Carousel*/
.image-box {
  position: relative;
  margin: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid rgb(0, 255, 242);
  width: 262px;
  height: 262px;
}
.image-box img {
  transition: all 0.3s;
  display: block;
  object-fit: cover;
}

.image-box:hover img {
  transform: scale(1.1);
}

.image-detail {
  text-align: center;
}
/*Header*/
.phone-header a:not(:last-child) {
  margin-right: 16px;
}

@media (max-width: 768px) {
  .phone-header {
    display: flex;
    flex-direction: column;
  }
  .phone-header a:not(:last-child) {
    margin-right: 0;
  }
}

.news-content {
  height: 400px;
}

.news-content img {
  width: 100%;
  display: block;
  object-fit: cover;
  max-height: 400px;
}

.news-content .content-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 400px;
}

.content-right img {
  width: 100%;
  display: block;
  object-fit: cover;
  max-height: 200px;
}

/*PRODUCT DETAIL*/
.detail-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 24px;
}

.product-title {
  font-family: "Arima Madurai", sans-serif;
  padding: 20px 0;
}

.select-btn {
  font-family: "Arima Madurai", sans-serif;
  display: inline-block;
  max-width: 150px;
  padding: 8px 16px;
  border: unset;
  background-color: blue;
  color: white;
}
