* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  max-width: 100%;
}
h1,
h2,
h3 {
  font-family: "Arima Madurai", sans-serif;
}

a:hover {
  text-decoration: none;
}

/*HEADER*/
.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header-left .logo-img {
  width: 60px;
  height: 60px;
}

.header .header-right {
  text-align: right;
}
.header-right-contact {
  margin-bottom: 24px;
}
.header-address {
  margin-right: 16px;
}
.header-email {
  display: inline-block;
}
.phone-header {
  font-size: 18px;
}
/*END HEADER*/

/*NAVBAR*/
.nav .nav-link {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  transition: 0.3s;
}
.nav .nav-link:hover {
  color: #c8fbfa;
  cursor: pointer;
}

.submenu {
  background-color: #7bced4;
}

.nav-tabs {
  border: unset;
}

.nav-tabs .nav-item:not(:last-child) {
  border-right: 1px solid #dee2e6;
}

.nav-tabs .nav-link:hover {
  border-color: #fff;
}

.submenu {
  display: none;
  position: absolute;
  left: 0;
  background: #7bced4;
  box-shadow: 1px 1px 5px gainsboro;
  z-index: 1;
}

.submenu > li {
  list-style: none;
  width: 150px;
}

.nav > li:hover .submenu {
  display: block;
}

.nav > li {
  position: relative;
  cursor: pointer;
}

/* Menu Hamburger */
.menu-mobile .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background: black;
  z-index: 10;
  transition: 0.3s ease-in;
  transform: translateX(-100%);
}

.menu-mobile .menu a {
  color: white;
}

.menu-mobile .menu.active {
  transform: translateX(0);
  transition: 0.3s ease-out;
}

.main-menu li.active {
  color: red;
}
/*END NAVBAR*/

/*3 ITEMS*/

.image-detail a {
  color: #6d6d6d;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

/*PRODUCT INTRO*/
.product-intro {
  background-color: #f7f7f7;
  margin: 30px 0;
}

.product-intro .product-intro-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
}

.product-intro .product-intro-content .intro-title {
  text-transform: uppercase;
  text-align: center;
  font-family: "Arima Madurai", sans-serif;
}

.product-intro .product-intro-content .intro-border {
  width: 300px;
  height: 2px;
  margin: 0 auto;
}
.product-intro .product-intro-content .intro-detail {
  padding: 16px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 30px;
}
@media (max-width: 768px) {
  .intro-img {
    display: none;
  }
}
/*END PRODUCT INTRO*/

/*MENU TABS*/
.menu-tabs {
  justify-content: center;
}
.menu-tabs .nav-item a {
  color: #6d6d6d;
}
.menu-tabs .nav-item a {
  transition: unset;
  padding-top: 0;
  padding-bottom: 0;
}
.menu-tabs .nav-item a:hover {
  color: inherit;
}

.menu-tab .nav-item,
.nav-link.active {
  border: unset;
}
/*TIN TUC*/
.news .news-img {
  width: 100%;
  height: auto;
}

.main-nav li a {
  color: white;
}

/*Footer*/
/* .icon-container {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #d8e2dc;
  float: left;
  transition: all 0.5s ease;
}

.icon-container .fab {
  color: #d8e2dc;
  /* margin-top: 20px; */
/* transition: all 0.5s ease;
} */
.wrapper {
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px; */
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  margin-top: 20px;
  list-style: none;
  width: 340px;
  display: flex;
  justify-content: space-around;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
.wrapper ul li {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #d8e2dc;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
.wrapper ul li .fab {
  color: #d8e2dc;
  /* margin-top: 20px; */
  transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

/* google */
.wrapper ul li:hover.pinterest {
  border: 5px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-pinterest {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

@media (max-width: 768px) {
  .wrapper {
    display: none;
  }
}

/*Thumb image*/
.thumb-img-container .image-box {
  width: 326px;
  height: 214px;
  border: 5px solid #0abbb5;
  border-radius: 15px;
}

/*Carousel*/
.image-box {
  position: relative;
  margin: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 262px;
  height: 262px;
}
.image-box img {
  transition: all 0.3s;
  display: block;
  object-fit: cover;
}

.image-box:hover img {
  transform: scale(1.1);
}

.image-detail {
  text-align: center;
}

@media (max-width: 768px) {
  .phone-header {
    display: flex;
    flex-direction: column;
  }
  .phone-header a:not(:last-child) {
    margin-right: 0;
  }
}

.news-content {
  height: 400px;
}

.new-content .new-content-left {
  padding-right: 4px;
}

.news-content img {
  width: 100%;
  display: block;
  object-fit: cover;
  max-height: 400px;
}

.news-content .content-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 400px;
}

.content-right img {
  width: 100%;
  display: block;
  object-fit: cover;
  max-height: 200px;
}

.round-indicators li {
  background-color: black;
  border: none !important;
}

@media (max-width: 768px) {
  .header-right-contact {
    margin-bottom: 8px;
  }
  .header-address {
    margin-right: 0;
    font-size: 8px;
  }

  .header-email {
    display: none;
  }

  .news-content {
    height: auto;
  }

  .new-content .new-content-left {
    padding-right: 0;
  }

  .menu-tabs {
    justify-content: flex-start;
  }
}

.round-indicators {
  bottom: -25px;
}

.round-indicators li {
  width: 10px;
  margin-left: 1.5rem;
  height: 10px;
  border-radius: 50%;
  border: 3px solid black;
}
