* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header .header-left .logo-img {
  width: 60px;
  height: 60px;
  border: 1px solid grey;
  border-radius: 50%;
}

.header .header-right {
  text-align: right;
}

.header-right a {
  color: black;
}

.header-right .address a:not(:last-child) {
  margin-right: 24px;
}

.content {
  height: 500px;
  background-color: red;
}

.image-box {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 348px;
  max-width: 348px;
  border: 2px solid blue;
  border-radius: 15px;
}

.image-box img {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1.1);
}

.image-box:hover img {
  transform: scale(1.2);
}

.thumb-img-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.thumb-img-container .image-detail {
  text-align: center;
}

.product-intro {
  background-color: grey;
  height: 250px;
}

.product-intro .product-intro-content {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-intro .product-intro-content .intro-title {
  text-transform: uppercase;
  text-align: center;
}

.product-intro .product-intro-content .intro-border {
  width: 300px;
  height: 2px;
  background-color: blue;
  margin: 0 auto;
}

.product-intro .product-intro-content .intro-detail {
  padding-top: 16px;
  text-align: center;
}

/*TIN TUC*/
.news .news-img {
  width: 100%;
  height: auto;
}

/* .thumb-img-container .thumb-img {
  width: 348px;
  height: 328px;
  border: 5px solid rgb(54, 197, 243);
  border-radius: 15px;
  transition: transform 0.2s;
}
.thumb-img-container .thumb-img:hover {
  transform: scale(1.1);
} */

.nav-tabs {
  border: unset;
}

.nav-tabs .nav-item:not(:last-child) {
  border-right: 1px solid #dee2e6;
}

.nav-tabs .nav-link:hover {
  border-color: #fff;
}

.submenu {
  display: none;
  position: absolute;
  left: 0;
  background: white;
  box-shadow: 1px 1px 5px gainsboro;
  z-index: 1;
}

.submenu>li {
  list-style: none;
  width: 150px;
}

.nav>li:hover .submenu {
  display: block;
}

.nav>li {
  position: relative;
  cursor: pointer;
}

/* Menu Hamburger */
.menu-mobile .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background: bisque;
  z-index: 10;
  transition: 0.3s ease-in;
  transform: translateX(-100%);
}

.menu-mobile .menu.active {
  transform: translateX(0);
  transition: 0.3s ease-out;
}

.main-menu li.active {
  color: red
}